﻿@model Donatello.ViewModels.BoardList
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <h2>Boards</h2>
    </div>
    <div class="row">
        @foreach (var board in Model.Boards)
        {<div class="card s12">
                <div style="float: left; margin-right: 2em; width: 22em;">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">@board.Title</span>
                        </div>
                    </div>
                </div>
            </div>}
    </div>
</div>