﻿@model Donatello.ViewModels.BoardView
@{
    ViewData["Title"] = "Board View";
}

<div class="container">
    <div class="row">
        @foreach (var column in Model.Columns)
        {
            <div class="col m2">
                <h3>@column.Title</h3>
                
                @foreach (var card in column.Cards)
                {
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <p>@card.Content</p>
                        </div>
                    </div>
                }

            </div>
        }
    </div>
</div>

